body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.input-container button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.input-container button:hover {
  background-color: #555;
}

#profile {
  margin-top: 20px;
  text-align: center;
}

#profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 4px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#profile p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
    .container {
        max-width: 300px;
    }
}